<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="logo">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
                </section>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
                <section class="about">
                    <h6>About</h6>
                    <ul class="list-unstyled">
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/work/">Work</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-8">
                <section class="projects">
                    <h6>Projects</h6>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/bitHero/bitIcon/">BitIcon</a></li>
                        <li><a href="http://thechiselgroup.org/">CHISEL</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
                <section class="subscribe">
                    <h6>Follow</h6>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/intent/follow?screen_name=heroicByte">Twitter</a></li>
                        <li><a href="https://github.com/bitHero">GitHub</a></li>
                        <li><a href="/rss/">RSS</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-8">
                <section class="social">
                    <h6>Connect</h6>
                    <address>
                        <strong>University of Victoria</strong><br>
                        3800 Finnerty Rd<br/>
                        Victoria, BC V8P 5C2
                    </address>
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/heroicByte/" data-toggle="tooltip" title="Tweet me" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li><a href="http://www.facebook.com/bihawker/" data-toggle="tooltip" title="Friend me" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li><a href="http://github.com/bitHero" data-toggle="tooltip" title="Develop with me" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                        <li><a href="https://dribbble.com/bitHero" data-toggle="tooltip" title="Draft me" target="_blank"><i class="fa fa-dribbble fa-fw"></i></a></li>
                        <li><a href="http://graphicdesign.stackexchange.com/users/55796/ben" data-toggle="tooltip" title="Exchange with me" target="_blank"><i class="fa fa-stack-exchange fa-fw"></i></a></li>
                        <li><a href="http://steamcommunity.com/id/byteHero/" data-toggle="tooltip" title="Game with me" target="_blank"><i class="fa fa-steam fa-fw"></i></a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <section class="made-with source-org text-center text-muted">
                    <small>
                        Made with <i class="fa fa-heart"></i> in Victoria, BC<br/>
                    </small>
                </section>
            </div>
        </div>
    </div>
</footer>