{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<header class="home-header" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 auto-color vertical-center">
        <h2>Hello! I'm</h2>
        <h1><span class="brand"><em>Ben</em> Hawker</span></h1>
        <h2>I'm a designer in Victoria, BC</h2>
      </div>
    </div>
  </div>
</header>              

{{! The main content area on the homepage }}
<main class="content" role="main">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-8">
    
        <div class="row">
          <div class="col-lg-12">
            <h1 id="blog">Blog</h1>
          </div>
        </div>
        
        {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
        
      </div>
      <div class="col-lg-4">
        <h1>Contact</h1>

        <h1>Tweets</h1>
        <a class="twitter-timeline" href="https://twitter.com/heroicByte" data-widget-id="621354230301863936">Tweets by @heroicByte</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</main>