{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
<main class="content" role="main">
  <div class="container">

    <div class="row">
      {{^is "home"}}
        <div class="col-lg-12">
          <h1>
            Blog
            <small>
              {{#is "paged"}}Page {{pagination.page}}{{/is}}
              {{#is "tag"}}Tagged as <b>{{tag.name}}</b>{{/is}}
            </small>
          </h1>

        </div>
      {{/is}}
      <div class="col-lg-8">

      {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}

      </div>
    </div>
  </div>
</main>