{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}




<main class="content" role="main">
    <div class="container">
        <div class="row">
            {{! Everything inside the #post tags pulls data from the post }}
            {{#post}}
                {{content}}
            {{/post}}
        </div>
    </div>
</main>