{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<header class="home-header" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
  <div class="container">
      <div class="row hero">
          <div class="col-lg-12 text-center">
              {{{@blog.description}}}
              <p>
                  Want to keep in touch?
                  <br class="visible-xs"/>
                <a class="btn btn-default btn-sm" href="https://twitter.com/intent/follow?screen_name=heroicByte"
                   onclick="ga('send', 'event', 'buttons', 'click', 'twitter-follow');">
                      <i class="fa fa-twitter"></i> Follow
                  </a>
                  me on Twitter
              </p>
          </div>
      </div>
      <div class="row more">
          <div class="col-lg-12 text-center">
            <a class="btn btn-scroll-down btn-sm" href="#main">
                Something Else?<br/>
                <i class="fa fa-angle-down"></i>
            </a>
          </div>
      </div>
  </div>
</header>
<main id="main">
  <div class="container">
    {{#post}}
      {{content}}
    {{/post}}
  </div>
</main>
