{{!< default}}

<main class="content" role="main">
  <div class="container">
    <article class="{{post_class}}">

      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}

        <h1 class="post-title page-header">{{{title}}}</h1>
        {{!content}}
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- UVic ESS -->
      <div class="col-lg-8">
        <div class="work-card"
             style="background: #FF9933 url(/content/images/2015/07/EssLogo.svg) center / contain no-repeat">
          <a class="expand" href="http://behance.com/" target="_blank">
            <i class="fa fa-behance"></i>
          </a>

          <div class="actions">
            <div class="col-xs-12">
              <a href="https://www.behance.net/gallery/26548987/Locale" target="_blank"><i
                  class="fa fa-behance"></i> Behance</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Locale -->
      <div class="col-lg-4">
        <div class="work-card"
             style="background: #244C47 url(/content/images/2015/07/Locale-Logo.svg) center / contain no-repeat">
          <a class="expand" href="http://getlocale.me/" target="_blank">
            <i class="fa fa-link"></i>
          </a>

          <div class="actions">
            <div class="col-xs-6">
              <a href="https://www.behance.net/gallery/26548987/Locale" target="_blank"><i
                  class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-link"></i> Live Site</a>
            </div>
          </div>
        </div>
      </div>
      <!-- BitIcon -->
      <div class="col-lg-4">
        <div class="work-card"
             style="background: url(/content/images/2015/07/bitIcon-promo.png) center / cover no-repeat">
          <a class="expand" href="https://github.com/bitHero/bitIcon" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <div class="actions">
            <div class="col-xs-12">
              <a href="https://github.com/bitHero/bitIcon" target="_blank"><i class="fa fa-github"></i>
                GitHub</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Hawker.cc -->
      <div class="col-lg-4">
        <div class="work-card"
             style="background: url(/content/images/2015/07/2015-07-10-16_48_13-Ben-Hawker.png) center / cover">
          <a class="expand" href="http://behance.com/" target="_blank">
            <i class="fa fa-behance"></i>
          </a>

          <div class="actions">
            <div class="col-xs-6">
              <a href="http://behance.com/" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-comment"></i> Blog Post</a>
            </div>
          </div>
        </div>
      </div>
      <!-- HawkBox -->
      <div class="col-lg-4">
        <div class="work-card"
             style="background: #666 url(/content/images/2015/07/HawkBox-Logo.svg) center / contain no-repeat">
          <a class="expand" href="http://behance.com/" target="_blank">
            <i class="fa fa-behance"></i>
          </a>

          <div class="actions">
            <div class="col-xs-6">
              <a href="http://behance.com/" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-comment"></i> Blog Posts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      {{/post}}

    </article>
  </div>
</main>
