{{!< default}}

<main class="content" role="main">
  <div class="container">
    <article class="{{post_class}}">

      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}
        {{content}}
      {{/post}}

    </article>
  </div>

</main>
