{{!< default}}

<main class="content" role="main">
  <div class="container">
    <article class="{{post_class}}">

      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}


      {{!content}}
<div class="row">
  <div class="col-lg-8">
    <h2>Projects</h2>
    <div class="row">
      <!-- UVic ESS -->
      <div class="col-lg-12">
        <div class="work-card" style="background: url(/content/images/2015/07/EssLogo_Block_Color_Square.svg) center / cover">
          <div class="expand"></div>
          <div class="actions">
            <div class="col-xs-12">
              <a href="https://www.behance.net/gallery/26548987/Locale" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Locale -->
      <div class="col-lg-6">
        <div class="work-card" style="background: url(/content/images/2015/07/Locale-Logo_Name-Filled.png) center / cover">
          <div class="expand"></div>
          <div class="actions">
            <div class="col-xs-6">
              <a href="https://www.behance.net/gallery/26548987/Locale" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-link"></i> Live Site</a>
            </div>
          </div>
        </div>
      </div>
      <!-- BitIcon -->
      <div class="col-lg-6">
        <div class="work-card" style="background: url(/content/images/2015/07/bitIcon-Promo.png) center / cover">
          <div class="expand"></div>
          <div class="actions">
            <div class="col-xs-12">
              <a href="https://github.com/bitHero/bitIcon" target="_blank"><i class="fa fa-github"></i> GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <h2>In Progress</h2>
    <div class="row">
      <!-- Hawker.cc -->
      <div class="col-lg-12">
        <div class="work-card" style="background: url(/content/images/2015/07/2015-07-10-16_48_13-Ben-Hawker.png) center / cover">
          <div class="expand"></div>
          <div class="actions">
            <div class="col-xs-6">
              <a href="http://behance.com/" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-comment"></i> Blog Post</a>
            </div>
          </div>
        </div>
      </div>
      <!-- HawkBox -->
      <div class="col-lg-12">
        <div class="work-card" style="background-image: url(/content/images/2015/07/HawkBox-Logo-01.png); background-size: contain">
          <div class="expand"></div>
          <div class="actions">
            <div class="col-xs-6">
              <a href="http://behance.com/" target="_blank"><i class="fa fa-behance"></i> Behance</a>
            </div>
            <div class="col-xs-6">
              <a href="http://getlocale.me/" target="_blank"><i class="fa fa-comment"></i> Blog Posts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      {{/post}}

    </article>
  </div>
</main>
