/*!
 * Boostrap v0.1.0
 */


/********************
  Variable Overrides
********************/

@import "partials/variables";

/********************
  Bootstrap
********************/

@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";

/********************
  Styles
********************/

@import "partials/footer";
@import "partials/nav";
@import "partials/post";

#blog-logo img {
	display: block;
	max-height: 100px;
	width: auto;
	margin: 0 auto;
	line-height: 0;
}

.blog-title {
}

.blog-description {
	margin-bottom: 2em;
}

.post {
}

.post-title {
}

.post-title a {
}

.post-excerpt p {
	margin-top: 1em;
}

.post-meta {
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 1px;
	margin-bottom: 1em;
}

.post-meta a {
}

.post-meta a:hover {
}

.user-meta {
}

.user-image {
}

.user-name {
}

.user-bio {
}

.publish-meta {
}

.publish-heading {
}

.publish-date {
}

/* PAGINATION */
.pagination {
}

.older-posts {
}

.newer-posts {
}

.page-number {
}

.page-header {
	padding-bottom: 0.5em;
	margin: 0 0 1em 0;
}