/*!
 * Boostrap v0.1.0
 */


/********************
  Variable Overrides
********************/

@import "partials/variables";

/********************
  Bootstrap
********************/

@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";

/********************
  Styles
********************/

@import "partials/footer";
@import "partials/nav";
@import "partials/home";
@import "partials/post";
@import "partials/type";

#blog-logo img {
	display: block;
	max-height: 100px;
	width: auto;
	margin: 0 auto;
	line-height: 0;
}

.blog-title {
}

.blog-description {
	margin-bottom: 2em;
}



/* PAGINATION */
.pagination {
}

.older-posts {
}

.newer-posts {
}

.page-number {
}

.page-header {
	padding-bottom: 0.5em;
	margin: 0 0 1em 0;
}