/*!
 * Slate v0.1.0
 */


/********************
  Variable Overrides
********************/

@import "partials/variables";

/********************
  Bootstrap
********************/

@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";

/********************
  Styles
********************/

@import "partials/bootswatch";
@import "partials/type";
@import "partials/footer";
@import "partials/nav";
@import "partials/home";
@import "partials/post";
@import "partials/page";
@import "partials/error";
@import "partials/contact";
@import "partials/team";
@import "partials/css-devices";
