body {
  min-height: 100%;
  position: relative;
}

.footer {
  padding: 25px 0px;
  bottom: 0;
  width: 100%;

  background: $gray-lighter;

  font-family: $font-family-sans-serif;
  font-size: $font-size-small;

  .logo {
    margin-bottom: $line-height-computed;

    img {
      max-width: 150px;
      max-height: 90px;
      width: auto;
      height: auto;
    }
  }

  .made-with {
    margin-top: $line-height-computed;
  }

  .popover {
    min-width: 279px;
    max-width: 500px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}