body {
  min-height: 100%;
  position: relative;
  padding-bottom: 2*$navbar-height;
}

.footer {
  position: absolute;
  padding: 10px 0px;
  bottom: 0;
  width: 100%;
  min-height: $navbar-height;
  max-height: 2*$navbar-height;
  font-family: $font-family-sans-serif;

  .social {
    text-align: right;
  }

  .popover {
    min-width: 279px;
    max-width: 500px;
  }
}