html {
  height: 100%;
}

.page-home {

  .home-header {
    width: 100%;
    height: 100vh;
    background-color: $brand-primary;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;

    h1, h2, h3 {
      margin: 0;
      font-weight: 600;
      line-height: 1.0;
      color: #FFF;
    }

    p {
      margin-top: $line-height-computed*2;
      font-size: $font-size-large;
    }

    @media (min-width: $screen-sm-min) {
      h1 {
        font-size: 8vw;
      }
      h2 {
        font-size: 4.1vw;
      }
      img {
        max-width: 50%;
      }
    }
    @media (max-width: $screen-xs-max) {
      h1 {
        font-size: 16vw;
      }
      h2 {
        font-size: 8.3vw;
      }
      img {
        max-width: 100%;
      }
    }

    .container {
      height: 100%;
      position: relative;

      .hero {
        height: 100%;
        width: 100%;
        display: table;
        table-layout: fixed;

        div {
          width: 100%;
          margin: 0 auto;
          @extend .vertical-center;
        }
      }
      .more {
        width: 100%;
        position: absolute;
        bottom: 50px;
      }
    }

    .btn-scroll-down {
      @extend .btn-link;
      color: darken($brand-primary, 20%);

      &:hover {
        text-decoration: none;
        color: darken($brand-primary, 25%);
      }
      &:focus {
        text-decoration: none;
        color: darken($brand-primary, 25%);
      }
    }
  }

  .project {
    margin: 3*$line-height-computed 0;
    padding-top: $line-height-computed;

    @media (max-width: $screen-sm-max) {
      padding-bottom: 8*$line-height-computed;
    }
    border-bottom: solid 1px $gray-lighter;
    overflow: hidden;
    position: relative;

    .blurb {
      padding: $line-height-computed 1.5*$line-height-computed;
    }
    .jobs {
      padding: 0 1.5*$line-height-computed 0.5*$line-height-computed 1.5*$line-height-computed;
      position: relative;
      top: 0px;
      opacity: 0.8;
      transform: translateY(1.5*$line-height-computed);
      transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);

      @media (max-width: $screen-sm-max) {
        visibility: hidden;
      }
    }
    .promo {
      position: absolute;
      transform: translateY(0.5*$line-height-computed);
      transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: 100%;
      &.promo-window {
        padding: 28px;
        @media (max-width: $screen-sm-max) {
          transform: translateY(-3*$line-height-computed);
        }
      }
      &.promo-mobile {
        padding: 28px;
        img {
          margin: 0 auto;
          max-width: 9.5*$line-height-computed;
        }

        @media (max-width: $screen-sm-max) {
          transform: translateY(10*$line-height-computed);
          img {
            max-width: 7*$line-height-computed;
          }
        }
      }
    }
    &:hover {
      @media (min-width: $screen-md-min) {
        .jobs {
          transform: translateY(0px);
        }
        .promo {
          transform: translateY(-36px);
        }
      }
    }
  }

  .right-now {
    margin-top: 5*$line-height-computed;
    margin-bottom: 2*$line-height-computed;
    text-align: center;
    iframe {
      margin: 1.5*$line-height-computed 0;
    }
  }
}

.vertical-center {
  display:table-cell;
  vertical-align: middle;
  float: none;
}

.img-shadow {
  box-shadow: 0 10px 20px 0 rgba(128, 128, 128, 0.5);
}


