html {
  height: 100%;
}

.home-template {
  height: 100%;
  padding: 0;
  
  .content {
    margin-top: $padding-large-vertical;
  }
  
  .home-header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    h1, h2 {
      margin: 5px 0px; 
    }
    h1 {
      margin-left: -0.08em;
    }
    
    @media (min-width: $screen-sm-min) {
      h1 { font-size: 8vw; }
      h2 { font-size: 3vw; }
    }
    @media (max-width: $screen-xs-max) {
      h1 { font-size: 14vw; }
      h2 { font-size: 5vw; }
    }
    
    .container {
      height: 100%;
      .row {
        height: 100%;
        display: table;
        table-layout: fixed;
      }
    }
  }
}

.vertical-center {
  display:table-cell;
  vertical-align: middle;
  float: none;
}


