html {
  height: 100%;
}

.page-home {
  
  .home-header {
    width: 100%;
    height: 100vh;
    background-color: $gray-darker;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $gray-lighter;


    h1, h2 {
      margin: 10px 0px;
    }
    h1 {
      margin-left: -0.08em;
    }
    
    @media (min-width: $screen-sm-min) {
      h1 { font-size: 8vw; }
      h2 { font-size: 2vw; }
      img {
        max-width: 50%;
      }
    }
    @media (max-width: $screen-xs-max) {
      h1 { font-size: 14vw; }
      h2 { font-size: 4vw; }
      img {
        max-width: 100%;
      }
    }
    
    .container {
      height: 100%;
      .row {
        height: 100%;
        display: table;
        table-layout: fixed;
      }
    }
  }

  .callout {
    background: $brand-primary;

    blockquote {
      margin: 75px 40px;
      border: none;
      color: #FFF;

      font-size: $font-size-h1;

      footer {
        color: $gray-lighter;
        text-align: right;
      }
    }
  }
}

.vertical-center {
  display:table-cell;
  vertical-align: middle;
  float: none;
}


