//
// Navigation
// --------------------------------------------------


// Sticky Navbar
// -------------------------

@media (min-width: $screen-sm-min) {
  .navbar-fixed-top {
      position: relative;
      top: auto;
  }
  .navbar-collapse {
      max-height: none;
  }
}
@media (max-width: $screen-xs-max) {
  body {
      padding-top: $navbar-height + $navbar-margin-bottom;
  }
  body.page-home{
    padding-top: 0;
  }
}

// General Nav
// -------------------------

.navbar-brand.blog-logo {
  padding: 15px 10px; // default padding is restrictive for images
  img {
    max-height: 100%;
    &:hover{
      -webkit-filter: brightness(90%);
    }
  }
}

// Home Nav
// -------------------------

.page-home {
  .navbar-default {
    @extend .navbar-default;

    position: absolute;

    background-color: $navbar-home-bg;
    border-color: $navbar-home-border;

    .navbar-brand {
      visibility: collapse;
    }
    .navbar-text {
      color: $navbar-home-color;
    }

    .navbar-nav {
      > li > a {
        @include auto-color($navbar-home-link-color, 70%);

        &:hover,
        &:focus {
          @include auto-color($navbar-home-link-color, 50%);
          @include auto-color-background($navbar-home-link-hover-bg, 20%);
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          @include auto-color($navbar-home-link-color, 60%);
          @include auto-color-background($navbar-home-link-active-bg, 20%);
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          @include auto-color($navbar-home-link-disabled-color, 20%);
          @include auto-color-background($navbar-home-link-disabled-bg, 20%);
        }
      }
    }

    .navbar-toggle {
      @include auto-color-background($navbar-home-toggle-bg, 70%);
      border-color: $navbar-home-toggle-border-color;
      &:hover,
      &:focus {
        background-color: $navbar-home-toggle-hover-bg;
      }
      .icon-bar {
        @include auto-color-background($navbar-home-toggle-icon-bar-bg, 70%);
      }
    }

    .navbar-collapse,
    .navbar-form {
      border-color: $navbar-home-border;
    }

    // Dropdown menu items
    .navbar-nav {
      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: #FFF;
          color: $navbar-home-link-active-color;
        }
      }

      @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
          > li > a {
            @include auto-color($navbar-home-link-color, 70%);
            &:hover,
            &:focus {
              @include auto-color($navbar-home-link-color, 50%);
              @include auto-color-background($navbar-home-link-hover-bg, 20%);
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              @include auto-color($navbar-home-link-color, 60%);
              @include auto-color-background($navbar-home-link-active-bg, 20%);
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              @include auto-color($navbar-home-link-disabled-color, 20%);
              @include auto-color-background($navbar-home-link-disabled-bg, 20%);
            }
          }
        }
      }
    }
  }
}