
.post-preview {

  .post-meta {
    img {
      margin: 1em 0;
    }
  }

  .post-excerpt {

  }
}

/* Full Post */

.post-full {

  .post-meta {
    margin-bottom: 2em;
    img {
      margin-bottom: 1em;
    }
  }

  .post-content {
    margin-bottom: 2em;
    img {
      @extend .img-responsive, .img-rounded;
    }
  }

  .post-footer {
    .author {
      margin-bottom: 2em;
    }
    .share {
      margin-bottom: 2em;
    }
  }
}

