/* SINGLE POST */

.post-template {
  .post {
  }
  .post-header {
	padding: 4em 0;
  }
}


.post-content {
  margin-bottom: 2em;
  img {
    max-width: 100%;
  }
}

.post-footer {
  .author {
	margin-bottom: 2em;
  }
  .share {
	margin-bottom: 2em;
  }
}