
.post-preview {

  .post-meta {
    img {
      margin: 1em 0;
    }
  }

  .post-excerpt {

  }
}

/* Full Post */

.post-header {
  margin-top: -$navbar-margin-bottom;
  background-position: center;
  background-size: cover;

  .darken {
    background: transparentize(#000, 0.4);

    h1 {
      color: #fff;
      margin-top: $line-height-computed/4;
      margin-bottom: $line-height-computed/2;

      small {
        color: #fff;
      }
    }
    .page-header {
      margin-top: $line-height-computed*8;
      margin-bottom: $line-height-computed*4;

      // Mobile
      @media (max-width: $screen-xs-max) {
        margin-top: $line-height-computed*4;
        margin-bottom: $line-height-computed*2;
      }
    }
  }
}

.post-full {

  .post-meta {
    margin-top: $line-height-computed/4;
    margin-bottom: $line-height-computed/2;
  }

  .post-content {
    margin-bottom: 2em;
    img {
      @extend .img-responsive, .img-rounded;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .post-footer {

    margin-bottom: $line-height-computed;

    section {
      p {
        @extend .text-muted;
        font-size: $font-size-small;
      }
    }

    .author {
      img {
        float: left;
        height: 72px;
        margin-right: $line-height-computed/4;
      }
    }
    .share {

    }
  }
}

