//
// Team Page
// --------------------------------------------------

.page-team {

  .member {

    &.member-default{
      @extend .col-md-6;

      img {
        height: 56px;
        @media (min-width: $screen-sm-min) {
          height: 72px;
        }
      }

      h4 {

      }

      p {
        @media (min-width: $screen-sm-min) {
          @include ellipses-lines($font-size-base, $line-height-base, 3);
        }
      }
    }

    &.member-jumbo {
      @extend .col-md-12;

      img {
        height: 108px;
      }
    }


    img {
      @extend .img-responsive;
      @extend .img-circle;

      float: left;
      margin-right: $line-height-computed/4;
    }



    ul {
      @extend .list-inline;
      @extend .text-center;
    }
  }
}