//
// Team Page
// --------------------------------------------------

.page-team {
  .wide-member {

    .picture {
      @extend .col-lg-4;
      @extend .col-sm-8;
      @extend .col-sm-offset-2;
      @extend .col-lg-offset-0;

      img {
        @extend .img-responsive;
        @extend .img-circle;
      }
    }

    .description {
      @extend .col-lg-8;
    }
  }

  .member {
    @extend .col-sm-6;

    img {
      @extend .img-responsive;
      @extend .img-circle;

      float: left;
      height: 72px;
      margin-right: $line-height-computed/4;
    }

    h4 {

    }

    p {
      @media (min-width: $screen-sm-min) {
        @include ellipses-lines($font-size-base, $line-height-base, 3);
      }
    }

    ul {
      @extend .list-inline;
      @extend .text-center;
    }
  }
}