//
// Typography
// --------------------------------------------------


// Height-Control
// -------------------------

@mixin ellipses-lines($font-size, $line-height, $lines-to-show){
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Auto Color for Background-Check
// -------------------------

// Basic

.auto-color {
  &.background--light {
    color: $gray-darker;
  }

  &.background--dark {
    color: $gray-lighter;
  }

  &.background--complex {
    color: $gray;
  }
}

// Mixin

@mixin auto-color($color, $shift) {
  &.auto-color {
    &.background--light {
      color: darken($color, $shift);
    }

    &.background--dark {
      color: lighten($color, $shift);
    }

    &.background--complex {
      color: $color;
    }
  }
}

@mixin auto-color-background($color, $shift) {
  &.auto-color {
    &.background--light {
      background-color: darken($color, $shift);
    }

    &.background--dark {
      background-color: lighten($color, $shift);
    }

    &.background--complex {
      background-color: $color;
    }
  }
}