//
// Core Variables
// --------------------------------------------------

$brand-primary: #00ADEF;

$navbar-default-color:             #777;
$navbar-default-bg:                #FFF;
$navbar-default-border:            transparent;

// Navbar links
//$navbar-default-link-color:                #777 !default;
//$navbar-default-link-hover-color:          #333 !default;
//$navbar-default-link-hover-bg:             transparent !default;
//$navbar-default-link-active-color:         #555 !default;
//$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
//$navbar-default-link-disabled-color:       #ccc !default;
//$navbar-default-link-disabled-bg:          transparent !default;