//
// Core Variables
// --------------------------------------------------

$font-family-sans-serif:  "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Droid Serif", Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;

//== Colors
//
//## Gray and brand colors.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee


$brand-primary: #1A8EBD;


//== Home Navbar
//
//## For the homepage

$navbar-home-color:                     #FFF;
$navbar-home-bg:                        transparent;
$navbar-home-border:                    transparent;

// Navbar links
$navbar-home-link-color:                $gray;
$navbar-home-link-hover-bg:             transparent;
$navbar-home-link-active-color:         #ccc;
$navbar-home-link-active-bg:            transparent;
$navbar-home-link-disabled-color:       #777;
$navbar-home-link-disabled-bg:          transparent;

// Navbar toggle
$navbar-home-toggle-bg:                 transparent;
$navbar-home-toggle-hover-bg:           transparent;
$navbar-home-toggle-icon-bar-bg:        $navbar-home-color;
$navbar-home-toggle-border-color:       transparent;
