//
// Work Page
// --------------------------------------------------

.page-work {
  .work-card {
    @extend .panel;

    overflow: hidden;
    margin: $padding-base-vertical 0;

    .card-meta {
      visibility: hidden;
    }

    .body {
      @extend .panel-body;

      height: 196px;
      padding: 0;
      position: relative;

      .card-over {
        width: 100%;
        height: 100%;
        position: absolute;

        opacity: 0;
        background: $panel-footer-bg;
        background: transparentize($panel-footer-bg, 0.04);
        background: linear-gradient(to bottom, transparentize($panel-footer-bg, 0.05) 10%, $panel-footer-bg 100%);
        padding: $line-height-computed;

        &:focus,
        &:hover {
          opacity: 1;
          transition: opacity 250ms ease;
        }

        strong {
          font-size: $font-size-large;
        }

        .card-date {
          position: absolute;
          right: $line-height-computed;
          bottom: $line-height-computed;
        }

        a {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          background: transparent;
          margin: -$line-height-computed;

          @media (max-width: $screen-md-max) {
            visibility: hidden;
          }
        }
      }

    }
    .actions {
      @extend .row;
      @extend .panel-footer;

      a {
        color: $gray-light;

        &:hover{
          color: darken($gray-light,20%);
          text-decoration: none;
        }
        &:focus{
          color: darken($gray-light,30%);
          text-decoration: none;
        }
      }
    }
  }

  .filter-box {
    margin-bottom: $line-height-computed*2;
  }

  .filter-error-box {
    padding: $line-height-computed*4 $line-height-computed*2;

    @media (max-width: $screen-sm-max) {
      text-align: center;
      padding: $line-height-computed*2;
    }

    .icon {
      @media (min-width: $screen-md-min) {
        float: right;
      }
      font-size: 160px;
    }

    #current-filter {
      font-weight: bold;
    }
  }
}