//
// Work
// --------------------------------------------------


// Work Card
// -------------------------

.work-card {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin: $padding-base-vertical 0;
  
  
  &:hover > .expand {
    visibility: visible;
  }
  
  .expand {
    @extend .btn;

    display: block;
    border-radius: 0;
    margin: 0;
    padding: 44px;
    border: none;

    min-height: 196px;
    background: transparentize($gray-darker, 0.2);
    visibility: hidden;
    vertical-align: middle;
    text-align: center;
    color: transparentize($gray-lighter, 0.2);

    font-size: 5em;

    &:hover {
      color: transparentize($gray-lighter, 0.1);
    }
  }
  .actions {
    @extend .container;
    
    background: transparentize($gray-darker, 0.2);
    padding: $padding-large-vertical $padding-large-horizontal;
    width: 100%;
    
    a {
      color: $gray-lighter;
    }
  }
}